{
  "extends": ["standard", "standard-react", "plugin:jest/recommended"],
  "parser": "babel-eslint",
  "rules": {
    "semi": [2, "never"],
    "no-mixed-operators": "off",
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }]
  },
  "env": {
    "jest/globals": true
  },
  "plugins": ["jest"]
}
